#%RAML 1.0
title: StreamFlix Recommendation Service API
version: 1.0.0
baseUri: https://api.streamflix.com/recommendations/v1
mediaType: application/json
description: Personalized content recommendations engine for the StreamFlix streaming platform

securitySchemes:
  bearerAuth:
    type: OAuth 2.0
    description: JWT Bearer Token Authentication
    describedBy:
      headers:
        Authorization:
          description: Bearer token
          type: string
          pattern: ^Bearer .+$
          example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

types:
  Recommendation:
    properties:
      id:
        type: string
        required: true
        example: 550e8400-e29b-41d4-a716-446655440000
      contentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      title:
        type: string
        required: true
        example: Breaking Bad
      description:
        type: string
        example: A high school chemistry teacher turned methamphetamine manufacturer
      contentType:
        type: string
        required: true
        enum: [movie, series]
        example: series
      posterUrl:
        type: string
        required: true
        example: https://cdn.streamflix.com/posters/breaking-bad.jpg
      genre:
        type: string
        example: drama
      releaseYear:
        type: integer
        example: 2008
      rating:
        type: number
        minimum: 0
        maximum: 10
        example: 9.5
      recommendationScore:
        type: number
        required: true
        minimum: 0
        maximum: 1
        description: Personalized recommendation score
        example: 0.92
      recommendationReason:
        type: string
        example: Based on your interest in drama and similar shows you've watched

  RecommendationList:
    properties:
      recommendations:
        type: array
        items: Recommendation
        required: true
      total:
        type: integer
        required: true
        example: 150
      limit:
        type: integer
        required: true
        example: 20
      offset:
        type: integer
        required: true
        example: 0

  TrendingItem:
    properties:
      contentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      title:
        type: string
        required: true
        example: The Last of Us
      contentType:
        type: string
        required: true
        enum: [movie, series]
        example: series
      posterUrl:
        type: string
        required: true
        example: https://cdn.streamflix.com/posters/the-last-of-us.jpg
      trendingRank:
        type: integer
        required: true
        example: 1
      trendingScore:
        type: number
        required: true
        minimum: 0
        maximum: 1
        example: 0.98
      viewsInPeriod:
        type: integer
        required: true
        example: 2500000
      category:
        type: string
        example: action

  TrendingList:
    properties:
      trendingContent:
        type: array
        items: TrendingItem
        required: true
      timeWindow:
        type: string
        required: true
        example: 7d
      region:
        type: string
        example: US
      total:
        type: integer
        required: true
        example: 100

  PopularItem:
    properties:
      contentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      title:
        type: string
        required: true
        example: Inception
      contentType:
        type: string
        required: true
        enum: [movie, series]
        example: movie
      posterUrl:
        type: string
        required: true
        example: https://cdn.streamflix.com/posters/inception.jpg
      popularityRank:
        type: integer
        required: true
        example: 1
      averageRating:
        type: number
        required: true
        minimum: 0
        maximum: 10
        example: 8.8
      viewCount:
        type: integer
        required: true
        example: 5000000
      releaseYear:
        type: integer
        example: 2010

  PopularList:
    properties:
      popularContent:
        type: array
        items: PopularItem
        required: true
      total:
        type: integer
        required: true
        example: 500
      limit:
        type: integer
        required: true
        example: 20
      offset:
        type: integer
        required: true
        example: 0

  SimilarContent:
    properties:
      contentId:
        type: string
        required: true
        example: 770e8400-e29b-41d4-a716-446655440000
      title:
        type: string
        required: true
        example: Better Call Saul
      contentType:
        type: string
        required: true
        enum: [movie, series]
        example: series
      posterUrl:
        type: string
        required: true
        example: https://cdn.streamflix.com/posters/better-call-saul.jpg
      similarityScore:
        type: number
        required: true
        minimum: 0
        maximum: 1
        description: Score indicating how similar to the requested content
        example: 0.87
      genre:
        type: string
        example: crime-drama
      commonElements:
        type: array
        items:
          type: string
        example: [crime, anti-hero protagonist, character development]

  SimilarContentList:
    properties:
      sourceContentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      sourceContentTitle:
        type: string
        required: true
        example: Breaking Bad
      similarContent:
        type: array
        items: SimilarContent
        required: true
      total:
        type: integer
        required: true
        example: 45

  ContextualRecommendation:
    properties:
      contentId:
        type: string
        required: true
        example: 880e8400-e29b-41d4-a716-446655440000
      title:
        type: string
        required: true
        example: Ozark
      contentType:
        type: string
        required: true
        enum: [movie, series]
        example: series
      posterUrl:
        type: string
        required: true
        example: https://cdn.streamflix.com/posters/ozark.jpg
      reason:
        type: string
        required: true
        example: Because you watched Breaking Bad
      relevanceScore:
        type: number
        required: true
        minimum: 0
        maximum: 1
        example: 0.89

  ContextualRecommendationList:
    properties:
      baseContentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      baseContentTitle:
        type: string
        required: true
        example: Breaking Bad
      recommendations:
        type: array
        items: ContextualRecommendation
        required: true
      total:
        type: integer
        required: true
        example: 25

  GenreRecommendation:
    properties:
      contentId:
        type: string
        required: true
        example: 990e8400-e29b-41d4-a716-446655440000
      title:
        type: string
        required: true
        example: Interstellar
      contentType:
        type: string
        required: true
        enum: [movie, series]
        example: movie
      posterUrl:
        type: string
        required: true
        example: https://cdn.streamflix.com/posters/interstellar.jpg
      genre:
        type: string
        required: true
        example: sci-fi
      releaseYear:
        type: integer
        example: 2014
      rating:
        type: number
        minimum: 0
        maximum: 10
        example: 8.6
      relevanceToGenre:
        type: number
        required: true
        minimum: 0
        maximum: 1
        example: 0.95

  GenreRecommendationList:
    properties:
      genre:
        type: string
        required: true
        example: sci-fi
      recommendations:
        type: array
        items: GenreRecommendation
        required: true
      total:
        type: integer
        required: true
        example: 250
      limit:
        type: integer
        required: true
        example: 20

  RecommendationFeedback:
    properties:
      contentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      rating:
        type: string
        required: true
        enum: [up, down]
        description: Thumbs up or down feedback
        example: up
      reason:
        type: string
        example: Not interested in this type of content

  FeedbackResponse:
    properties:
      feedbackId:
        type: string
        required: true
        example: aa0e8400-e29b-41d4-a716-446655440000
      contentId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      rating:
        type: string
        required: true
        enum: [up, down]
        example: up
      submittedAt:
        type: string
        required: true
        format: date-time
        example: 2026-04-20T15:30:00Z
      message:
        type: string
        example: Feedback recorded successfully

  FeedbackUpdate:
    properties:
      feedbackId:
        type: string
        required: true
        example: aa0e8400-e29b-41d4-a716-446655440000
      rating:
        type: string
        required: true
        enum: [up, down]
        example: down
      reason:
        type: string
        example: Changed my mind after watching the preview

  RecommendationPreferences:
    properties:
      profileId:
        type: string
        required: true
        example: 550e8400-e29b-41d4-a716-446655440000
      preferredGenres:
        type: array
        items:
          type: string
        example: [action, sci-fi, drama]
      excludedGenres:
        type: array
        items:
          type: string
        example: [horror]
      minRating:
        type: number
        minimum: 0
        maximum: 10
        example: 7.0
      includeNewReleases:
        type: boolean
        example: true
      includeOnlyWatchedGenres:
        type: boolean
        description: Only recommend genres user has watched before
        example: false
      diversifyRecommendations:
        type: boolean
        description: Show variety in recommendations
        example: true
      language:
        type: string
        example: en-US
      maturityRating:
        type: string
        enum: [G, PG, PG-13, R, NC-17]
        example: R
      updatedAt:
        type: string
        format: date-time
        example: 2026-04-20T10:00:00Z

  PreferencesUpdate:
    properties:
      preferredGenres:
        type: array
        items:
          type: string
        example: [action, sci-fi, drama]
      excludedGenres:
        type: array
        items:
          type: string
        example: [horror]
      minRating:
        type: number
        minimum: 0
        maximum: 10
        example: 7.0
      includeNewReleases:
        type: boolean
        example: true
      includeOnlyWatchedGenres:
        type: boolean
        example: false
      diversifyRecommendations:
        type: boolean
        example: true
      maturityRating:
        type: string
        enum: [G, PG, PG-13, R, NC-17]
        example: R

  ErrorDetail:
    properties:
      field:
        type: string
        example: profileId
      message:
        type: string
        example: Profile ID must be a valid UUID

  Error:
    properties:
      code:
        type: string
        required: true
        example: INVALID_INPUT
      message:
        type: string
        required: true
        example: The provided input is invalid
      details:
        type: array
        items: ErrorDetail

/recommendations:
  /personalized:
    get:
      displayName: Get personalized recommendations
      description: Retrieve personalized content recommendations based on user watch history and preferences
      secured: [bearerAuth]
      queryParameters:
        profileId:
          type: string
          required: true
          description: Profile ID for recommendations
        limit:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
          description: Number of recommendations to return
        offset:
          type: integer
          default: 0
          minimum: 0
          description: Number of items to skip
        contentType:
          type: string
          enum: [movie, series, all]
          default: all
          description: Filter by content type
      responses:
        200:
          description: Personalized recommendations retrieved successfully
          body:
            application/json:
              type: RecommendationList
        400:
          description: Invalid input
          body:
            application/json:
              type: Error
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error

  /trending:
    get:
      displayName: Get trending content
      description: Retrieve currently trending content across the platform
      secured: [bearerAuth]
      queryParameters:
        limit:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
          description: Number of trending items to return
        offset:
          type: integer
          default: 0
          minimum: 0
          description: Number of items to skip
        timeWindow:
          type: string
          enum: [24h, 7d, 30d]
          default: 7d
          description: Time window for trending data
        region:
          type: string
          description: Geographic region code
          example: US
      responses:
        200:
          description: Trending content retrieved successfully
          body:
            application/json:
              type: TrendingList
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error

  /popular:
    get:
      displayName: Get popular content
      description: Retrieve most popular content based on overall viewing patterns
      secured: [bearerAuth]
      queryParameters:
        limit:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
          description: Number of popular items to return
        offset:
          type: integer
          default: 0
          minimum: 0
          description: Number of items to skip
        contentType:
          type: string
          enum: [movie, series, all]
          default: all
          description: Filter by content type
      responses:
        200:
          description: Popular content retrieved successfully
          body:
            application/json:
              type: PopularList
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error

  /similar/{contentId}:
    get:
      displayName: Get similar content
      description: Retrieve content similar to a specified content item
      secured: [bearerAuth]
      uriParameters:
        contentId:
          type: string
          required: true
          description: Content ID to find similar items for
      queryParameters:
        limit:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
          description: Number of similar items to return
        minSimilarityScore:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5
          description: Minimum similarity score threshold
      responses:
        200:
          description: Similar content retrieved successfully
          body:
            application/json:
              type: SimilarContentList
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error
        404:
          description: Content not found
          body:
            application/json:
              type: Error

  /because-you-watched:
    get:
      displayName: Get 'Because You Watched' recommendations
      description: Retrieve recommendations based on specific watched content
      secured: [bearerAuth]
      queryParameters:
        profileId:
          type: string
          required: true
          description: Profile ID for recommendations
        contentId:
          type: string
          required: true
          description: Content ID to base recommendations on
        limit:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
          description: Number of recommendations to return
      responses:
        200:
          description: Because You Watched recommendations retrieved successfully
          body:
            application/json:
              type: ContextualRecommendationList
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error

  /by-genre:
    get:
      displayName: Get genre-based recommendations
      description: Retrieve content recommendations for a specific genre
      secured: [bearerAuth]
      queryParameters:
        genre:
          type: string
          required: true
          enum: [action, comedy, drama, horror, thriller, romance, sci-fi, fantasy, documentary, animation]
          description: Genre to filter recommendations
        limit:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
          description: Number of recommendations to return
        sortBy:
          type: string
          enum: [relevance, rating, release_date]
          default: relevance
          description: Sort order for recommendations
      responses:
        200:
          description: Genre-based recommendations retrieved successfully
          body:
            application/json:
              type: GenreRecommendationList
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error

  /{recommendationId}:
    /feedback:
      post:
        displayName: Submit recommendation feedback
        description: Submit thumbs up/down feedback for a recommendation
        secured: [bearerAuth]
        uriParameters:
          recommendationId:
            type: string
            required: true
            description: Recommendation ID
        body:
          application/json:
            type: RecommendationFeedback
        responses:
          201:
            description: Feedback submitted successfully
            body:
              application/json:
                type: FeedbackResponse
          400:
            description: Invalid input
            body:
              application/json:
                type: Error
          401:
            description: Unauthorized
            body:
              application/json:
                type: Error

  /feedback:
    /update:
      put:
        displayName: Update recommendation feedback
        description: Update existing recommendation feedback
        secured: [bearerAuth]
        body:
          application/json:
            type: FeedbackUpdate
        responses:
          200:
            description: Feedback updated successfully
            body:
              application/json:
                type: FeedbackResponse
          400:
            description: Invalid input
            body:
              application/json:
                type: Error
          401:
            description: Unauthorized
            body:
              application/json:
                type: Error
          404:
            description: Feedback not found
            body:
              application/json:
                type: Error

  /preferences:
    get:
      displayName: Get recommendation preferences
      description: Retrieve recommendation preferences for a profile
      secured: [bearerAuth]
      queryParameters:
        profileId:
          type: string
          required: true
          description: Profile ID
      responses:
        200:
          description: Recommendation preferences retrieved successfully
          body:
            application/json:
              type: RecommendationPreferences
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error

    put:
      displayName: Update recommendation preferences
      description: Update recommendation preferences for a profile
      secured: [bearerAuth]
      queryParameters:
        profileId:
          type: string
          required: true
          description: Profile ID
      body:
        application/json:
          type: PreferencesUpdate
      responses:
        200:
          description: Recommendation preferences updated successfully
          body:
            application/json:
              type: RecommendationPreferences
        400:
          description: Invalid input
          body:
            application/json:
              type: Error
        401:
          description: Unauthorized
          body:
            application/json:
              type: Error
