openapi: 3.0.0
info:
  title: StreamFlix User Service API
  version: 1.0.0
  description: User authentication, profile management, and preferences for the StreamFlix
    streaming platform
servers:
- url: https://api.streamflix.com/user/v1
  description: Production server
- url: https://staging-api.streamflix.com/user/v1
  description: Staging server
tags:
- name: Authentication
  description: User authentication operations
- name: Users
  description: User account management
- name: Profiles
  description: Profile management
- name: Preferences
  description: User preferences and settings
- name: Watch History
  description: Watch history tracking
- name: Watchlist
  description: Watchlist management
paths:
  /auth/register:
    post:
      tags:
      - Authentication
      summary: Register a new user
      description: Create a new user account with email and password
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
      - Authentication
      summary: User login
      description: Authenticate user and return access token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      tags:
      - Authentication
      summary: User logout
      description: Invalidate user access token
      operationId: logoutUser
      security:
      - bearerAuth: []
      responses:
        '204':
          description: Logout successful
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh access token
      description: Get a new access token using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me:
    get:
      tags:
      - Users
      summary: Get current user
      description: Retrieve authenticated user information
      operationId: getCurrentUser
      security:
      - bearerAuth: []
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Users
      summary: Update current user
      description: Update authenticated user information
      operationId: updateCurrentUser
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Users
      summary: Delete current user
      description: Delete authenticated user account
      operationId: deleteCurrentUser
      security:
      - bearerAuth: []
      responses:
        '204':
          description: User deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /profiles:
    get:
      tags:
      - Profiles
      summary: List profiles
      description: Get all profiles for the authenticated user
      operationId: listProfiles
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Profiles retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Profile'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Profiles
      summary: Create profile
      description: Create a new profile for the authenticated user
      operationId: createProfile
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileCreate'
      responses:
        '201':
          description: Profile created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /profiles/{profileId}:
    get:
      tags:
      - Profiles
      summary: Get profile
      description: Retrieve a specific profile
      operationId: getProfile
      security:
      - bearerAuth: []
      parameters:
      - name: profileId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Profile ID
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Profiles
      summary: Update profile
      description: Update a specific profile
      operationId: updateProfile
      security:
      - bearerAuth: []
      parameters:
      - name: profileId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Profile ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdate'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Profiles
      summary: Delete profile
      description: Delete a specific profile
      operationId: deleteProfile
      security:
      - bearerAuth: []
      parameters:
      - name: profileId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Profile ID
      responses:
        '204':
          description: Profile deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /preferences:
    get:
      tags:
      - Preferences
      summary: Get user preferences
      description: Retrieve preferences for the authenticated user
      operationId: getPreferences
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Preferences retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Preferences
      summary: Update user preferences
      description: Update preferences for the authenticated user
      operationId: updatePreferences
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferencesUpdate'
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /watch-history:
    get:
      tags:
      - Watch History
      summary: Get watch history
      description: Retrieve watch history for a profile
      operationId: getWatchHistory
      security:
      - bearerAuth: []
      parameters:
      - name: profileId
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Profile ID
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
        description: Number of items to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Number of items to skip
      responses:
        '200':
          description: Watch history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WatchHistoryItem'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Watch History
      summary: Add to watch history
      description: Record a content item in watch history
      operationId: addToWatchHistory
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchHistoryCreate'
      responses:
        '201':
          description: Item added to watch history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchHistoryItem'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /watchlist:
    get:
      tags:
      - Watchlist
      summary: Get watchlist
      description: Retrieve watchlist for a profile
      operationId: getWatchlist
      security:
      - bearerAuth: []
      parameters:
      - name: profileId
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Profile ID
      responses:
        '200':
          description: Watchlist retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WatchlistItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Watchlist
      summary: Add to watchlist
      description: Add a content item to watchlist
      operationId: addToWatchlist
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchlistCreate'
      responses:
        '201':
          description: Item added to watchlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchlistItem'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /watchlist/{contentId}:
    delete:
      tags:
      - Watchlist
      summary: Remove from watchlist
      description: Remove a content item from watchlist
      operationId: removeFromWatchlist
      security:
      - bearerAuth: []
      parameters:
      - name: contentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Content ID
      - name: profileId
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Profile ID
      responses:
        '204':
          description: Item removed from watchlist
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Item not found in watchlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserRegistration:
      type: object
      required:
      - email
      - password
      - firstName
      - lastName
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          minLength: 8
          example: SecurePass123!
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phoneNumber:
          type: string
          example: +1-555-123-4567
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          example: SecurePass123!
    RefreshTokenRequest:
      type: object
      required:
      - refreshToken
      properties:
        refreshToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refreshToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        expiresIn:
          type: integer
          description: Access token expiration time in seconds
          example: 3600
        tokenType:
          type: string
          example: Bearer
        user:
          $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          example: user@example.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phoneNumber:
          type: string
          example: +1-555-123-4567
        subscriptionTier:
          type: string
          enum:
          - basic
          - standard
          - premium
          example: premium
        createdAt:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2026-04-20T14:22:00Z'
    UserUpdate:
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phoneNumber:
          type: string
          example: +1-555-123-4567
        email:
          type: string
          format: email
          example: newemail@example.com
    Profile:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        userId:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Kids
        avatarUrl:
          type: string
          format: uri
          example: https://cdn.streamflix.com/avatars/kids-avatar.png
        isKidsProfile:
          type: boolean
          example: true
        language:
          type: string
          example: en-US
        maturityRating:
          type: string
          enum:
          - G
          - PG
          - PG-13
          - R
          - NC-17
          example: PG
        autoplayNextEpisode:
          type: boolean
          example: true
        autoplayPreviews:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
    ProfileCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          example: Kids
        avatarUrl:
          type: string
          format: uri
          example: https://cdn.streamflix.com/avatars/kids-avatar.png
        isKidsProfile:
          type: boolean
          example: true
        language:
          type: string
          example: en-US
        maturityRating:
          type: string
          enum:
          - G
          - PG
          - PG-13
          - R
          - NC-17
          example: PG
    ProfileUpdate:
      type: object
      properties:
        name:
          type: string
          example: Kids
        avatarUrl:
          type: string
          format: uri
          example: https://cdn.streamflix.com/avatars/kids-avatar.png
        language:
          type: string
          example: en-US
        maturityRating:
          type: string
          enum:
          - G
          - PG
          - PG-13
          - R
          - NC-17
          example: PG
        autoplayNextEpisode:
          type: boolean
          example: true
        autoplayPreviews:
          type: boolean
          example: false
    Preferences:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        defaultLanguage:
          type: string
          example: en-US
        defaultSubtitleLanguage:
          type: string
          example: en
        emailNotifications:
          type: boolean
          example: true
        pushNotifications:
          type: boolean
          example: true
        dataUsage:
          type: string
          enum:
          - low
          - medium
          - high
          - auto
          example: auto
        downloadQuality:
          type: string
          enum:
          - standard
          - high
          example: high
    PreferencesUpdate:
      type: object
      properties:
        defaultLanguage:
          type: string
          example: en-US
        defaultSubtitleLanguage:
          type: string
          example: en
        emailNotifications:
          type: boolean
          example: true
        pushNotifications:
          type: boolean
          example: true
        dataUsage:
          type: string
          enum:
          - low
          - medium
          - high
          - auto
          example: auto
        downloadQuality:
          type: string
          enum:
          - standard
          - high
          example: high
    WatchHistoryItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 770e8400-e29b-41d4-a716-446655440000
        profileId:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        contentId:
          type: string
          format: uuid
          example: 880e8400-e29b-41d4-a716-446655440000
        watchedAt:
          type: string
          format: date-time
          example: '2026-04-20T20:15:00Z'
        progress:
          type: integer
          description: Watch progress in seconds
          example: 1800
        duration:
          type: integer
          description: Total duration in seconds
          example: 5400
        completed:
          type: boolean
          example: false
    WatchHistoryCreate:
      type: object
      required:
      - profileId
      - contentId
      - progress
      - duration
      properties:
        profileId:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        contentId:
          type: string
          format: uuid
          example: 880e8400-e29b-41d4-a716-446655440000
        progress:
          type: integer
          description: Watch progress in seconds
          example: 1800
        duration:
          type: integer
          description: Total duration in seconds
          example: 5400
    WatchlistItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 990e8400-e29b-41d4-a716-446655440000
        profileId:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        contentId:
          type: string
          format: uuid
          example: 880e8400-e29b-41d4-a716-446655440000
        addedAt:
          type: string
          format: date-time
          example: '2026-04-18T10:00:00Z'
    WatchlistCreate:
      type: object
      required:
      - profileId
      - contentId
      properties:
        profileId:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        contentId:
          type: string
          format: uuid
          example: 880e8400-e29b-41d4-a716-446655440000
    Error:
      type: object
      properties:
        code:
          type: string
          example: INVALID_INPUT
        message:
          type: string
          example: The provided input is invalid
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: email
              message:
                type: string
                example: Invalid email format
