openapi: 3.0.0
info:
  title: Healthcare Patient Management API
  version: 1.0.0
  description: >
    Enterprise API for managing patients, healthcare providers, appointments,
    prescriptions, and medical records. Designed for integration with
    electronic health record (EHR) systems, practice management platforms,
    and patient portals.
  contact:
    name: Health IT Platform Team
    email: health-platform@examplehealth.com

servers:
  - url: https://api.examplehealth.com/v1
    description: Production
  - url: https://sandbox.examplehealth.com/v1
    description: Sandbox

tags:
  - name: Patients
    description: Patient demographics, insurance, and contact information
  - name: Providers
    description: Healthcare providers and their credentials
  - name: Appointments
    description: Scheduling, check-in, and appointment lifecycle
  - name: Prescriptions
    description: Medication orders, dosages, and refill tracking
  - name: MedicalRecords
    description: Clinical documents, lab results, imaging, and encounter notes

security:
  - bearerAuth: []

paths:
  # ---------------------------------------------------------------------------
  # Patients
  # ---------------------------------------------------------------------------
  /patients:
    get:
      tags: [Patients]
      summary: List patients
      description: Returns a paginated list of patients with optional filters.
      operationId: listPatients
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          description: Filter by patient status.
          schema:
            type: string
            enum: [Active, Inactive, Deceased]
        - name: primaryProviderId
          in: query
          description: Filter by assigned primary provider.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Patients retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [Patients]
      summary: Create patient
      description: Registers a new patient in the system.
      operationId: createPatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePatientRequest'
      responses:
        '201':
          description: Patient created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
    get:
      tags: [Patients]
      summary: Get patient
      description: Retrieves a single patient by identifier.
      operationId: getPatient
      responses:
        '200':
          description: Patient retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags: [Patients]
      summary: Update patient
      description: Replaces all mutable fields on an existing patient record.
      operationId: updatePatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePatientRequest'
      responses:
        '200':
          description: Patient updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [Patients]
      summary: Delete patient
      description: Soft-deletes a patient record.
      operationId: deletePatient
      responses:
        '204':
          description: Patient deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Providers
  # ---------------------------------------------------------------------------
  /providers:
    get:
      tags: [Providers]
      summary: List providers
      description: Returns a paginated list of healthcare providers.
      operationId: listProviders
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          description: Filter by provider status.
          schema:
            type: string
            enum: [Active, OnLeave, Inactive]
        - name: specialty
          in: query
          description: Filter by medical specialty.
          schema:
            type: string
        - name: acceptingNewPatients
          in: query
          description: Filter providers currently accepting new patients.
          schema:
            type: boolean
      responses:
        '200':
          description: Providers retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [Providers]
      summary: Create provider
      description: Registers a new healthcare provider.
      operationId: createProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRequest'
      responses:
        '201':
          description: Provider created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /providers/{providerId}:
    parameters:
      - $ref: '#/components/parameters/ProviderId'
    get:
      tags: [Providers]
      summary: Get provider
      description: Retrieves a single provider by identifier.
      operationId: getProvider
      responses:
        '200':
          description: Provider retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags: [Providers]
      summary: Update provider
      description: Updates an existing provider record.
      operationId: updateProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderRequest'
      responses:
        '200':
          description: Provider updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [Providers]
      summary: Delete provider
      description: Soft-deletes a provider record.
      operationId: deleteProvider
      responses:
        '204':
          description: Provider deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Appointments
  # ---------------------------------------------------------------------------
  /appointments:
    get:
      tags: [Appointments]
      summary: List appointments
      description: Returns a paginated list of appointments with optional filters.
      operationId: listAppointments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: patientId
          in: query
          description: Filter by patient.
          schema:
            type: string
            format: uuid
        - name: providerId
          in: query
          description: Filter by provider.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter by appointment status.
          schema:
            type: string
            enum: [Scheduled, CheckedIn, InProgress, Completed, Cancelled, NoShow]
        - name: scheduledAfter
          in: query
          description: Return appointments scheduled on or after this date-time.
          schema:
            type: string
            format: date-time
        - name: scheduledBefore
          in: query
          description: Return appointments scheduled on or before this date-time.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Appointments retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [Appointments]
      summary: Create appointment
      description: Schedules a new appointment for a patient with a provider.
      operationId: createAppointment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppointmentRequest'
      responses:
        '201':
          description: Appointment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appointments/{appointmentId}:
    parameters:
      - $ref: '#/components/parameters/AppointmentId'
    get:
      tags: [Appointments]
      summary: Get appointment
      description: Retrieves a single appointment by identifier.
      operationId: getAppointment
      responses:
        '200':
          description: Appointment retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags: [Appointments]
      summary: Update appointment
      description: Updates the details of an existing appointment.
      operationId: updateAppointment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppointmentRequest'
      responses:
        '200':
          description: Appointment updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appointments/{appointmentId}/cancel:
    parameters:
      - $ref: '#/components/parameters/AppointmentId'
    post:
      tags: [Appointments]
      summary: Cancel appointment
      description: Cancels a scheduled appointment. A cancellation reason may be provided.
      operationId: cancelAppointment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAppointmentRequest'
      responses:
        '200':
          description: Appointment cancelled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Prescriptions
  # ---------------------------------------------------------------------------
  /prescriptions:
    get:
      tags: [Prescriptions]
      summary: List prescriptions
      description: Returns a paginated list of prescriptions with optional filters.
      operationId: listPrescriptions
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: patientId
          in: query
          description: Filter by patient.
          schema:
            type: string
            format: uuid
        - name: providerId
          in: query
          description: Filter by prescribing provider.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter by prescription status.
          schema:
            type: string
            enum: [Active, Completed, Cancelled, OnHold]
      responses:
        '200':
          description: Prescriptions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [Prescriptions]
      summary: Create prescription
      description: Creates a new prescription order for a patient.
      operationId: createPrescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrescriptionRequest'
      responses:
        '201':
          description: Prescription created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /prescriptions/{prescriptionId}:
    parameters:
      - $ref: '#/components/parameters/PrescriptionId'
    get:
      tags: [Prescriptions]
      summary: Get prescription
      description: Retrieves a single prescription by identifier.
      operationId: getPrescription
      responses:
        '200':
          description: Prescription retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags: [Prescriptions]
      summary: Update prescription
      description: Updates an existing prescription order.
      operationId: updatePrescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePrescriptionRequest'
      responses:
        '200':
          description: Prescription updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Medical Records
  # ---------------------------------------------------------------------------
  /medical-records:
    get:
      tags: [MedicalRecords]
      summary: List medical records
      description: Returns a paginated list of medical records with optional filters.
      operationId: listMedicalRecords
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: patientId
          in: query
          description: Filter by patient.
          schema:
            type: string
            format: uuid
        - name: providerId
          in: query
          description: Filter by authoring provider.
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          description: Filter by record type.
          schema:
            type: string
            enum: [LabResult, Imaging, Diagnosis, Procedure, Note, Referral]
        - name: confidentiality
          in: query
          description: Filter by confidentiality level.
          schema:
            type: string
            enum: [Normal, Restricted, VeryRestricted]
      responses:
        '200':
          description: Medical records retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags: [MedicalRecords]
      summary: Create medical record
      description: Creates a new medical record entry for a patient encounter.
      operationId: createMedicalRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMedicalRecordRequest'
      responses:
        '201':
          description: Medical record created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /medical-records/{recordId}:
    parameters:
      - $ref: '#/components/parameters/RecordId'
    get:
      tags: [MedicalRecords]
      summary: Get medical record
      description: Retrieves a single medical record by identifier.
      operationId: getMedicalRecord
      responses:
        '200':
          description: Medical record retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

# =============================================================================
# Components
# =============================================================================
components:
  # ---------------------------------------------------------------------------
  # Parameters
  # ---------------------------------------------------------------------------
  parameters:
    Page:
      name: page
      in: query
      description: One-based page number for pagination.
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      description: Number of records per page (max 100).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    PatientId:
      name: patientId
      in: path
      required: true
      description: Unique patient identifier.
      schema:
        type: string
        format: uuid
    ProviderId:
      name: providerId
      in: path
      required: true
      description: Unique provider identifier.
      schema:
        type: string
        format: uuid
    AppointmentId:
      name: appointmentId
      in: path
      required: true
      description: Unique appointment identifier.
      schema:
        type: string
        format: uuid
    PrescriptionId:
      name: prescriptionId
      in: path
      required: true
      description: Unique prescription identifier.
      schema:
        type: string
        format: uuid
    RecordId:
      name: recordId
      in: path
      required: true
      description: Unique medical record identifier.
      schema:
        type: string
        format: uuid

  # ---------------------------------------------------------------------------
  # Responses
  # ---------------------------------------------------------------------------
  responses:
    BadRequest:
      description: The request payload is invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  # ---------------------------------------------------------------------------
  # Security Schemes
  # ---------------------------------------------------------------------------
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ---------------------------------------------------------------------------
  # Schemas
  # ---------------------------------------------------------------------------
  schemas:
    # ---- Pagination & Errors ------------------------------------------------
    PaginationMeta:
      type: object
      description: Pagination metadata included in every list response.
      required:
        - page
        - pageSize
        - totalItems
        - totalPages
      properties:
        page:
          type: integer
          description: Current page number.
          example: 1
        pageSize:
          type: integer
          description: Number of records per page.
          example: 25
        totalItems:
          type: integer
          description: Total number of records matching the query.
          example: 142
        totalPages:
          type: integer
          description: Total number of pages.
          example: 6

    ErrorResponse:
      type: object
      description: Standard error envelope returned for all non-2xx responses.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: VALIDATION_ERROR
        message:
          type: string
          description: Human-readable error message.
          example: The request body failed validation.
        details:
          type: array
          description: Field-level validation errors when applicable.
          items:
            $ref: '#/components/schemas/ErrorDetail'
        traceId:
          type: string
          description: Correlation identifier for support and debugging.
          example: abc-123-def-456

    ErrorDetail:
      type: object
      description: A single field-level validation error.
      required:
        - field
        - message
      properties:
        field:
          type: string
          description: JSON path of the invalid field.
          example: dateOfBirth
        message:
          type: string
          description: Explanation of the validation failure.
          example: Must be a valid past date.

    # ---- Shared / Embedded Objects ------------------------------------------
    Address:
      type: object
      description: A physical mailing address.
      properties:
        street:
          type: string
          maxLength: 200
          example: 742 Evergreen Terrace
        city:
          type: string
          maxLength: 100
          example: Springfield
        state:
          type: string
          minLength: 2
          maxLength: 2
          description: Two-letter US state code.
          example: IL
        zipCode:
          type: string
          pattern: '^\d{5}(-\d{4})?$'
          example: '62704'

    # ---- Patient Schemas ----------------------------------------------------
    Patient:
      type: object
      description: Full patient record including demographics, insurance, and clinical metadata.
      required:
        - patientId
        - mrn
        - firstName
        - lastName
        - dateOfBirth
        - gender
        - status
        - createdAt
        - updatedAt
      properties:
        patientId:
          type: string
          format: uuid
          description: System-generated unique identifier.
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        mrn:
          type: string
          description: Medical record number assigned by the facility.
          minLength: 6
          maxLength: 20
          example: MRN-204718
        firstName:
          type: string
          maxLength: 100
          example: Maria
        lastName:
          type: string
          maxLength: 100
          example: Santos
        dateOfBirth:
          type: string
          format: date
          description: Patient date of birth (YYYY-MM-DD).
          example: '1985-07-14'
        gender:
          type: string
          enum: [Male, Female, NonBinary, Other]
          example: Female
        email:
          type: string
          format: email
          maxLength: 254
          example: maria.santos@example.com
        phone:
          type: string
          maxLength: 20
          example: '+1-555-867-5309'
        address:
          $ref: '#/components/schemas/Address'
        insuranceProvider:
          type: string
          maxLength: 150
          description: Name of the patient's insurance carrier.
          example: Blue Cross Blue Shield
        insurancePolicyNumber:
          type: string
          maxLength: 50
          description: Policy or member ID issued by the insurer.
          example: BCBS-9938271
        primaryProviderId:
          type: string
          format: uuid
          description: Identifier of the patient's primary care provider.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        status:
          type: string
          enum: [Active, Inactive, Deceased]
          example: Active
        bloodType:
          type: string
          enum: [A+, A-, B+, B-, AB+, AB-, O+, O-]
          description: ABO/Rh blood type.
          example: O+
        allergies:
          type: array
          description: Known patient allergies.
          items:
            type: string
          example: [Penicillin, Sulfa, Latex]
        emergencyContactName:
          type: string
          maxLength: 200
          example: Carlos Santos
        emergencyContactPhone:
          type: string
          maxLength: 20
          example: '+1-555-123-4567'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
          example: '2024-01-15T09:30:00Z'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the record was last updated.
          example: '2025-11-02T14:22:00Z'

    PatientListResponse:
      type: object
      description: Paginated list of patients.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Patient'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    CreatePatientRequest:
      type: object
      description: Payload for registering a new patient.
      required:
        - mrn
        - firstName
        - lastName
        - dateOfBirth
        - gender
      properties:
        mrn:
          type: string
          minLength: 6
          maxLength: 20
          example: MRN-204718
        firstName:
          type: string
          maxLength: 100
          example: Maria
        lastName:
          type: string
          maxLength: 100
          example: Santos
        dateOfBirth:
          type: string
          format: date
          example: '1985-07-14'
        gender:
          type: string
          enum: [Male, Female, NonBinary, Other]
          example: Female
        email:
          type: string
          format: email
          maxLength: 254
          example: maria.santos@example.com
        phone:
          type: string
          maxLength: 20
          example: '+1-555-867-5309'
        address:
          $ref: '#/components/schemas/Address'
        insuranceProvider:
          type: string
          maxLength: 150
          example: Blue Cross Blue Shield
        insurancePolicyNumber:
          type: string
          maxLength: 50
          example: BCBS-9938271
        primaryProviderId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        bloodType:
          type: string
          enum: [A+, A-, B+, B-, AB+, AB-, O+, O-]
          example: O+
        allergies:
          type: array
          items:
            type: string
          example: [Penicillin, Sulfa]
        emergencyContactName:
          type: string
          maxLength: 200
          example: Carlos Santos
        emergencyContactPhone:
          type: string
          maxLength: 20
          example: '+1-555-123-4567'

    UpdatePatientRequest:
      type: object
      description: Payload for updating an existing patient. All fields are optional.
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [Male, Female, NonBinary, Other]
        email:
          type: string
          format: email
          maxLength: 254
        phone:
          type: string
          maxLength: 20
        address:
          $ref: '#/components/schemas/Address'
        insuranceProvider:
          type: string
          maxLength: 150
        insurancePolicyNumber:
          type: string
          maxLength: 50
        primaryProviderId:
          type: string
          format: uuid
        status:
          type: string
          enum: [Active, Inactive, Deceased]
        bloodType:
          type: string
          enum: [A+, A-, B+, B-, AB+, AB-, O+, O-]
        allergies:
          type: array
          items:
            type: string
        emergencyContactName:
          type: string
          maxLength: 200
        emergencyContactPhone:
          type: string
          maxLength: 20

    # ---- Provider Schemas ---------------------------------------------------
    Provider:
      type: object
      description: Healthcare provider record including credentials and availability.
      required:
        - providerId
        - npi
        - firstName
        - lastName
        - specialty
        - status
      properties:
        providerId:
          type: string
          format: uuid
          description: System-generated unique identifier.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        npi:
          type: string
          description: National Provider Identifier (10-digit).
          pattern: '^\d{10}$'
          example: '1234567890'
        firstName:
          type: string
          maxLength: 100
          example: James
        lastName:
          type: string
          maxLength: 100
          example: Wilson
        specialty:
          type: string
          maxLength: 150
          description: Medical specialty or area of practice.
          example: Internal Medicine
        email:
          type: string
          format: email
          maxLength: 254
          example: j.wilson@examplehealth.com
        phone:
          type: string
          maxLength: 20
          example: '+1-555-234-5678'
        department:
          type: string
          maxLength: 150
          description: Hospital or clinic department.
          example: Primary Care
        status:
          type: string
          enum: [Active, OnLeave, Inactive]
          example: Active
        licenseNumber:
          type: string
          maxLength: 50
          description: State medical license number.
          example: MD-2024-88431
        licenseState:
          type: string
          minLength: 2
          maxLength: 2
          description: Two-letter US state code where the license was issued.
          example: CA
        acceptingNewPatients:
          type: boolean
          description: Whether the provider is currently accepting new patients.
          example: true

    ProviderListResponse:
      type: object
      description: Paginated list of providers.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Provider'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    CreateProviderRequest:
      type: object
      description: Payload for registering a new provider.
      required:
        - npi
        - firstName
        - lastName
        - specialty
        - licenseNumber
        - licenseState
      properties:
        npi:
          type: string
          pattern: '^\d{10}$'
          example: '1234567890'
        firstName:
          type: string
          maxLength: 100
          example: James
        lastName:
          type: string
          maxLength: 100
          example: Wilson
        specialty:
          type: string
          maxLength: 150
          example: Internal Medicine
        email:
          type: string
          format: email
          maxLength: 254
          example: j.wilson@examplehealth.com
        phone:
          type: string
          maxLength: 20
          example: '+1-555-234-5678'
        department:
          type: string
          maxLength: 150
          example: Primary Care
        licenseNumber:
          type: string
          maxLength: 50
          example: MD-2024-88431
        licenseState:
          type: string
          minLength: 2
          maxLength: 2
          example: CA
        acceptingNewPatients:
          type: boolean
          example: true

    UpdateProviderRequest:
      type: object
      description: Payload for updating an existing provider. All fields are optional.
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        specialty:
          type: string
          maxLength: 150
        email:
          type: string
          format: email
          maxLength: 254
        phone:
          type: string
          maxLength: 20
        department:
          type: string
          maxLength: 150
        status:
          type: string
          enum: [Active, OnLeave, Inactive]
        licenseNumber:
          type: string
          maxLength: 50
        licenseState:
          type: string
          minLength: 2
          maxLength: 2
        acceptingNewPatients:
          type: boolean

    # ---- Appointment Schemas ------------------------------------------------
    Appointment:
      type: object
      description: A scheduled or completed patient-provider appointment.
      required:
        - appointmentId
        - patientId
        - providerId
        - scheduledStart
        - scheduledEnd
        - type
        - status
        - createdAt
      properties:
        appointmentId:
          type: string
          format: uuid
          description: System-generated unique identifier.
          example: d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f90
        patientId:
          type: string
          format: uuid
          description: Identifier of the patient.
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        providerId:
          type: string
          format: uuid
          description: Identifier of the provider.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        scheduledStart:
          type: string
          format: date-time
          description: Scheduled start time of the appointment.
          example: '2026-05-10T09:00:00Z'
        scheduledEnd:
          type: string
          format: date-time
          description: Scheduled end time of the appointment.
          example: '2026-05-10T09:30:00Z'
        type:
          type: string
          enum: [Consultation, FollowUp, Procedure, Screening, Urgent]
          example: Consultation
        status:
          type: string
          enum: [Scheduled, CheckedIn, InProgress, Completed, Cancelled, NoShow]
          example: Scheduled
        reason:
          type: string
          maxLength: 500
          description: Reason for the visit.
          example: Annual physical examination
        notes:
          type: string
          maxLength: 2000
          description: Additional notes from staff or provider.
          example: Patient requested early morning slot.
        location:
          type: string
          maxLength: 200
          description: Facility or room where the appointment takes place.
          example: Building A, Room 204
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the appointment was created.
          example: '2026-04-20T11:15:00Z'

    AppointmentListResponse:
      type: object
      description: Paginated list of appointments.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Appointment'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    CreateAppointmentRequest:
      type: object
      description: Payload for scheduling a new appointment.
      required:
        - patientId
        - providerId
        - scheduledStart
        - scheduledEnd
        - type
      properties:
        patientId:
          type: string
          format: uuid
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        providerId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        scheduledStart:
          type: string
          format: date-time
          example: '2026-05-10T09:00:00Z'
        scheduledEnd:
          type: string
          format: date-time
          example: '2026-05-10T09:30:00Z'
        type:
          type: string
          enum: [Consultation, FollowUp, Procedure, Screening, Urgent]
          example: Consultation
        reason:
          type: string
          maxLength: 500
          example: Annual physical examination
        notes:
          type: string
          maxLength: 2000
          example: Patient requested early morning slot.
        location:
          type: string
          maxLength: 200
          example: Building A, Room 204

    UpdateAppointmentRequest:
      type: object
      description: Payload for updating an existing appointment. All fields are optional.
      properties:
        scheduledStart:
          type: string
          format: date-time
        scheduledEnd:
          type: string
          format: date-time
        type:
          type: string
          enum: [Consultation, FollowUp, Procedure, Screening, Urgent]
        status:
          type: string
          enum: [Scheduled, CheckedIn, InProgress, Completed, NoShow]
        reason:
          type: string
          maxLength: 500
        notes:
          type: string
          maxLength: 2000
        location:
          type: string
          maxLength: 200

    CancelAppointmentRequest:
      type: object
      description: Optional payload when cancelling an appointment.
      properties:
        reason:
          type: string
          maxLength: 500
          description: Reason for cancellation.
          example: Patient requested reschedule.

    # ---- Prescription Schemas -----------------------------------------------
    Prescription:
      type: object
      description: A medication prescription order.
      required:
        - prescriptionId
        - patientId
        - providerId
        - medication
        - dosage
        - frequency
        - route
        - startDate
        - status
      properties:
        prescriptionId:
          type: string
          format: uuid
          description: System-generated unique identifier.
          example: e1f2a3b4-c5d6-7890-ef12-3456789abcde
        patientId:
          type: string
          format: uuid
          description: Identifier of the patient.
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        providerId:
          type: string
          format: uuid
          description: Identifier of the prescribing provider.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        medication:
          type: string
          maxLength: 250
          description: Name of the prescribed medication.
          example: Amoxicillin
        dosage:
          type: string
          maxLength: 100
          description: Dosage amount and unit.
          example: 500 mg
        frequency:
          type: string
          maxLength: 100
          description: How often the medication should be taken.
          example: Three times daily
        route:
          type: string
          enum: [Oral, Topical, Injection, Inhalation, Intravenous]
          description: Route of administration.
          example: Oral
        startDate:
          type: string
          format: date
          description: Date the prescription becomes effective.
          example: '2026-04-20'
        endDate:
          type: string
          format: date
          description: Date the prescription expires.
          example: '2026-05-04'
        refillsRemaining:
          type: integer
          minimum: 0
          description: Number of refills remaining.
          example: 2
        refillsTotal:
          type: integer
          minimum: 0
          description: Total number of refills originally authorized.
          example: 3
        status:
          type: string
          enum: [Active, Completed, Cancelled, OnHold]
          example: Active
        pharmacy:
          type: string
          maxLength: 200
          description: Pharmacy where the prescription is filled.
          example: Walgreens - 123 Main St
        notes:
          type: string
          maxLength: 1000
          description: Additional prescriber notes.
          example: Take with food. Avoid alcohol.

    PrescriptionListResponse:
      type: object
      description: Paginated list of prescriptions.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Prescription'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    CreatePrescriptionRequest:
      type: object
      description: Payload for creating a new prescription.
      required:
        - patientId
        - providerId
        - medication
        - dosage
        - frequency
        - route
        - startDate
      properties:
        patientId:
          type: string
          format: uuid
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        providerId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        medication:
          type: string
          maxLength: 250
          example: Amoxicillin
        dosage:
          type: string
          maxLength: 100
          example: 500 mg
        frequency:
          type: string
          maxLength: 100
          example: Three times daily
        route:
          type: string
          enum: [Oral, Topical, Injection, Inhalation, Intravenous]
          example: Oral
        startDate:
          type: string
          format: date
          example: '2026-04-20'
        endDate:
          type: string
          format: date
          example: '2026-05-04'
        refillsTotal:
          type: integer
          minimum: 0
          example: 3
        pharmacy:
          type: string
          maxLength: 200
          example: Walgreens - 123 Main St
        notes:
          type: string
          maxLength: 1000
          example: Take with food. Avoid alcohol.

    UpdatePrescriptionRequest:
      type: object
      description: Payload for updating an existing prescription. All fields are optional.
      properties:
        dosage:
          type: string
          maxLength: 100
        frequency:
          type: string
          maxLength: 100
        route:
          type: string
          enum: [Oral, Topical, Injection, Inhalation, Intravenous]
        endDate:
          type: string
          format: date
        refillsRemaining:
          type: integer
          minimum: 0
        status:
          type: string
          enum: [Active, Completed, Cancelled, OnHold]
        pharmacy:
          type: string
          maxLength: 200
        notes:
          type: string
          maxLength: 1000

    # ---- Medical Record Schemas ---------------------------------------------
    MedicalRecord:
      type: object
      description: A clinical document or encounter record.
      required:
        - recordId
        - patientId
        - providerId
        - encounterDate
        - type
        - title
        - confidentiality
        - createdAt
      properties:
        recordId:
          type: string
          format: uuid
          description: System-generated unique identifier.
          example: f0e1d2c3-b4a5-6789-0fed-cba987654321
        patientId:
          type: string
          format: uuid
          description: Identifier of the patient.
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        providerId:
          type: string
          format: uuid
          description: Identifier of the authoring provider.
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        encounterDate:
          type: string
          format: date
          description: Date the clinical encounter took place.
          example: '2026-04-18'
        type:
          type: string
          enum: [LabResult, Imaging, Diagnosis, Procedure, Note, Referral]
          description: Category of the medical record.
          example: LabResult
        title:
          type: string
          maxLength: 300
          description: Short title summarizing the record.
          example: Complete Blood Count (CBC)
        description:
          type: string
          maxLength: 2000
          description: Detailed description of the record.
          example: Routine CBC panel ordered as part of annual check-up.
        findings:
          type: string
          maxLength: 5000
          description: Clinical findings or results.
          example: WBC 7.2, RBC 4.8, Hemoglobin 14.1, Hematocrit 42%, Platelets 250
        attachmentUrl:
          type: string
          format: uri
          maxLength: 2048
          description: URL to an attached document or image.
          example: https://storage.examplehealth.com/records/f0e1d2c3/cbc-report.pdf
        confidentiality:
          type: string
          enum: [Normal, Restricted, VeryRestricted]
          description: Confidentiality classification of the record.
          example: Normal
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the record was created.
          example: '2026-04-18T16:45:00Z'

    MedicalRecordListResponse:
      type: object
      description: Paginated list of medical records.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MedicalRecord'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    CreateMedicalRecordRequest:
      type: object
      description: Payload for creating a new medical record entry.
      required:
        - patientId
        - providerId
        - encounterDate
        - type
        - title
      properties:
        patientId:
          type: string
          format: uuid
          example: 5f8b3c2a-1d4e-4f6a-9b8c-7e2d1a3f5b6c
        providerId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        encounterDate:
          type: string
          format: date
          example: '2026-04-18'
        type:
          type: string
          enum: [LabResult, Imaging, Diagnosis, Procedure, Note, Referral]
          example: LabResult
        title:
          type: string
          maxLength: 300
          example: Complete Blood Count (CBC)
        description:
          type: string
          maxLength: 2000
          example: Routine CBC panel ordered as part of annual check-up.
        findings:
          type: string
          maxLength: 5000
          example: WBC 7.2, RBC 4.8, Hemoglobin 14.1, Hematocrit 42%, Platelets 250
        attachmentUrl:
          type: string
          format: uri
          maxLength: 2048
          example: https://storage.examplehealth.com/records/f0e1d2c3/cbc-report.pdf
        confidentiality:
          type: string
          enum: [Normal, Restricted, VeryRestricted]
          example: Normal
