openapi: 3.0.0
info:
  title: Fleet Management API
  version: 1.0.0
  description: >
    API for managing enterprise vehicle fleets, including vehicles, drivers,
    trips, maintenance records, and fuel logs. Supports fleet tracking,
    driver assignment, trip lifecycle management, and cost reporting.

servers:
  - url: https://api.examplefleet.com/v1
    description: Production
  - url: https://sandbox.examplefleet.com/v1
    description: Sandbox

tags:
  - name: Vehicles
  - name: Drivers
  - name: Trips
  - name: Maintenance
  - name: FuelLogs

security:
  - bearerAuth: []

paths:
  /vehicles:
    get:
      tags: [Vehicles]
      summary: List vehicles
      operationId: listVehicles
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            type: string
            enum: [Active, InMaintenance, Retired, Decommissioned]
        - name: fuelType
          in: query
          schema:
            type: string
            enum: [Gasoline, Diesel, Electric, Hybrid, CNG]
        - name: assignedDriverId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Vehicles retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Vehicles]
      summary: Create vehicle
      operationId: createVehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVehicleRequest'
      responses:
        '201':
          description: Vehicle created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /vehicles/{vehicleId}:
    get:
      tags: [Vehicles]
      summary: Get vehicle by ID
      operationId: getVehicleById
      parameters:
        - $ref: '#/components/parameters/VehicleId'
      responses:
        '200':
          description: Vehicle retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Vehicles]
      summary: Update vehicle
      operationId: updateVehicle
      parameters:
        - $ref: '#/components/parameters/VehicleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVehicleRequest'
      responses:
        '200':
          description: Vehicle updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Vehicles]
      summary: Delete vehicle
      operationId: deleteVehicle
      parameters:
        - $ref: '#/components/parameters/VehicleId'
      responses:
        '204':
          description: Vehicle deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /drivers:
    get:
      tags: [Drivers]
      summary: List drivers
      operationId: listDrivers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            type: string
            enum: [Active, Suspended, Inactive]
      responses:
        '200':
          description: Drivers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Drivers]
      summary: Create driver
      operationId: createDriver
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDriverRequest'
      responses:
        '201':
          description: Driver created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/{driverId}:
    get:
      tags: [Drivers]
      summary: Get driver by ID
      operationId: getDriverById
      parameters:
        - $ref: '#/components/parameters/DriverId'
      responses:
        '200':
          description: Driver retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Drivers]
      summary: Update driver
      operationId: updateDriver
      parameters:
        - $ref: '#/components/parameters/DriverId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDriverRequest'
      responses:
        '200':
          description: Driver updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Drivers]
      summary: Delete driver
      operationId: deleteDriver
      parameters:
        - $ref: '#/components/parameters/DriverId'
      responses:
        '204':
          description: Driver deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips:
    get:
      tags: [Trips]
      summary: List trips
      operationId: listTrips
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: vehicleId
          in: query
          schema:
            type: string
            format: uuid
        - name: driverId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [InProgress, Completed, Cancelled]
        - name: startDateFrom
          in: query
          schema:
            type: string
            format: date
        - name: startDateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Trips retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Trips]
      summary: Create trip
      operationId: createTrip
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTripRequest'
      responses:
        '201':
          description: Trip created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /trips/{tripId}:
    get:
      tags: [Trips]
      summary: Get trip by ID
      operationId: getTripById
      parameters:
        - $ref: '#/components/parameters/TripId'
      responses:
        '200':
          description: Trip retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{tripId}/complete:
    post:
      tags: [Trips]
      summary: Complete a trip
      operationId: completeTrip
      parameters:
        - $ref: '#/components/parameters/TripId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteTripRequest'
      responses:
        '200':
          description: Trip completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /maintenance-records:
    get:
      tags: [Maintenance]
      summary: List maintenance records
      operationId: listMaintenanceRecords
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: vehicleId
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum: [Scheduled, Unscheduled, Emergency]
        - name: status
          in: query
          schema:
            type: string
            enum: [Scheduled, InProgress, Completed]
      responses:
        '200':
          description: Maintenance records retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecordListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Maintenance]
      summary: Create maintenance record
      operationId: createMaintenanceRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintenanceRecordRequest'
      responses:
        '201':
          description: Maintenance record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /maintenance-records/{recordId}:
    get:
      tags: [Maintenance]
      summary: Get maintenance record by ID
      operationId: getMaintenanceRecordById
      parameters:
        - $ref: '#/components/parameters/RecordId'
      responses:
        '200':
          description: Maintenance record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Maintenance]
      summary: Update maintenance record
      operationId: updateMaintenanceRecord
      parameters:
        - $ref: '#/components/parameters/RecordId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMaintenanceRecordRequest'
      responses:
        '200':
          description: Maintenance record updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /fuel-logs:
    get:
      tags: [FuelLogs]
      summary: List fuel logs
      operationId: listFuelLogs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: vehicleId
          in: query
          schema:
            type: string
            format: uuid
        - name: driverId
          in: query
          schema:
            type: string
            format: uuid
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Fuel logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [FuelLogs]
      summary: Create fuel log
      operationId: createFuelLog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFuelLogRequest'
      responses:
        '201':
          description: Fuel log created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelLog'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  parameters:
    VehicleId:
      name: vehicleId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    DriverId:
      name: driverId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    TripId:
      name: tripId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    RecordId:
      name: recordId
      in: path
      required: true
      schema:
        type: string
        format: uuid

    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1

    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Vehicle:
      type: object
      required:
        - vehicleId
        - vin
        - make
        - model
        - year
        - licensePlate
        - status
      properties:
        vehicleId:
          type: string
          format: uuid
        vin:
          type: string
          minLength: 17
          maxLength: 17
          example: 1HGCM82633A004352
        make:
          type: string
          example: Ford
        model:
          type: string
          example: Transit
        year:
          type: integer
          minimum: 1990
          maximum: 2100
          example: 2024
        licensePlate:
          type: string
          example: FLT-4821
        status:
          type: string
          enum: [Active, InMaintenance, Retired, Decommissioned]
        mileage:
          type: number
          format: double
          minimum: 0
        fuelType:
          type: string
          enum: [Gasoline, Diesel, Electric, Hybrid, CNG]
        assignedDriverId:
          type: string
          format: uuid
        purchaseDate:
          type: string
          format: date
        lastServiceDate:
          type: string
          format: date
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateVehicleRequest:
      type: object
      required:
        - vin
        - make
        - model
        - year
        - licensePlate
        - fuelType
      properties:
        vin:
          type: string
          minLength: 17
          maxLength: 17
        make:
          type: string
        model:
          type: string
        year:
          type: integer
          minimum: 1990
          maximum: 2100
        licensePlate:
          type: string
        fuelType:
          type: string
          enum: [Gasoline, Diesel, Electric, Hybrid, CNG]
        mileage:
          type: number
          format: double
          minimum: 0
        assignedDriverId:
          type: string
          format: uuid
        purchaseDate:
          type: string
          format: date

    UpdateVehicleRequest:
      type: object
      properties:
        licensePlate:
          type: string
        status:
          type: string
          enum: [Active, InMaintenance, Retired, Decommissioned]
        mileage:
          type: number
          format: double
          minimum: 0
        assignedDriverId:
          type: string
          format: uuid
        lastServiceDate:
          type: string
          format: date

    Driver:
      type: object
      required:
        - driverId
        - employeeNumber
        - firstName
        - lastName
        - licenseNumber
        - status
      properties:
        driverId:
          type: string
          format: uuid
        employeeNumber:
          type: string
          example: EMP-10042
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
          example: "+15551234567"
        licenseNumber:
          type: string
        licenseExpiry:
          type: string
          format: date
        status:
          type: string
          enum: [Active, Suspended, Inactive]
        assignedVehicleId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateDriverRequest:
      type: object
      required:
        - employeeNumber
        - firstName
        - lastName
        - licenseNumber
        - licenseExpiry
      properties:
        employeeNumber:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        licenseNumber:
          type: string
        licenseExpiry:
          type: string
          format: date
        assignedVehicleId:
          type: string
          format: uuid

    UpdateDriverRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
        licenseNumber:
          type: string
        licenseExpiry:
          type: string
          format: date
        status:
          type: string
          enum: [Active, Suspended, Inactive]
        assignedVehicleId:
          type: string
          format: uuid

    Trip:
      type: object
      required:
        - tripId
        - vehicleId
        - driverId
        - startTime
        - startOdometer
        - origin
        - destination
        - status
      properties:
        tripId:
          type: string
          format: uuid
        vehicleId:
          type: string
          format: uuid
        driverId:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        startOdometer:
          type: number
          format: double
          minimum: 0
        endOdometer:
          type: number
          format: double
          minimum: 0
        origin:
          type: string
          example: "123 Main St, Springfield, IL"
        destination:
          type: string
          example: "456 Oak Ave, Chicago, IL"
        status:
          type: string
          enum: [InProgress, Completed, Cancelled]
        purpose:
          type: string
          example: Customer delivery
        createdAt:
          type: string
          format: date-time

    CreateTripRequest:
      type: object
      required:
        - vehicleId
        - driverId
        - startOdometer
        - origin
        - destination
      properties:
        vehicleId:
          type: string
          format: uuid
        driverId:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        startOdometer:
          type: number
          format: double
          minimum: 0
        origin:
          type: string
        destination:
          type: string
        purpose:
          type: string

    CompleteTripRequest:
      type: object
      required:
        - endOdometer
      properties:
        endTime:
          type: string
          format: date-time
        endOdometer:
          type: number
          format: double
          minimum: 0

    MaintenanceRecord:
      type: object
      required:
        - recordId
        - vehicleId
        - type
        - description
        - status
      properties:
        recordId:
          type: string
          format: uuid
        vehicleId:
          type: string
          format: uuid
        type:
          type: string
          enum: [Scheduled, Unscheduled, Emergency]
        description:
          type: string
          example: Oil change and filter replacement
        vendor:
          type: string
          example: QuickLube Fleet Services
        cost:
          type: number
          format: double
          minimum: 0
        scheduledDate:
          type: string
          format: date
        completedDate:
          type: string
          format: date
        status:
          type: string
          enum: [Scheduled, InProgress, Completed]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateMaintenanceRecordRequest:
      type: object
      required:
        - vehicleId
        - type
        - description
        - scheduledDate
      properties:
        vehicleId:
          type: string
          format: uuid
        type:
          type: string
          enum: [Scheduled, Unscheduled, Emergency]
        description:
          type: string
        vendor:
          type: string
        cost:
          type: number
          format: double
          minimum: 0
        scheduledDate:
          type: string
          format: date

    UpdateMaintenanceRecordRequest:
      type: object
      properties:
        description:
          type: string
        vendor:
          type: string
        cost:
          type: number
          format: double
          minimum: 0
        completedDate:
          type: string
          format: date
        status:
          type: string
          enum: [Scheduled, InProgress, Completed]

    FuelLog:
      type: object
      required:
        - logId
        - vehicleId
        - driverId
        - date
        - gallons
        - costPerGallon
        - totalCost
        - odometer
        - fuelType
      properties:
        logId:
          type: string
          format: uuid
        vehicleId:
          type: string
          format: uuid
        driverId:
          type: string
          format: uuid
        date:
          type: string
          format: date
        gallons:
          type: number
          format: double
          minimum: 0.01
        costPerGallon:
          type: number
          format: double
          minimum: 0
        totalCost:
          type: number
          format: double
          minimum: 0
        odometer:
          type: number
          format: double
          minimum: 0
        fuelType:
          type: string
          enum: [Gasoline, Diesel, Electric, Hybrid, CNG]
        station:
          type: string
          example: "Shell - 789 Elm St"
        createdAt:
          type: string
          format: date-time

    CreateFuelLogRequest:
      type: object
      required:
        - vehicleId
        - driverId
        - date
        - gallons
        - costPerGallon
        - totalCost
        - odometer
        - fuelType
      properties:
        vehicleId:
          type: string
          format: uuid
        driverId:
          type: string
          format: uuid
        date:
          type: string
          format: date
        gallons:
          type: number
          format: double
          minimum: 0.01
        costPerGallon:
          type: number
          format: double
          minimum: 0
        totalCost:
          type: number
          format: double
          minimum: 0
        odometer:
          type: number
          format: double
          minimum: 0
        fuelType:
          type: string
          enum: [Gasoline, Diesel, Electric, Hybrid, CNG]
        station:
          type: string

    Pagination:
      type: object
      required:
        - page
        - pageSize
        - totalItems
        - totalPages
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalItems:
          type: integer
        totalPages:
          type: integer

    VehicleListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vehicle'
        pagination:
          $ref: '#/components/schemas/Pagination'

    DriverListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Driver'
        pagination:
          $ref: '#/components/schemas/Pagination'

    TripListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Trip'
        pagination:
          $ref: '#/components/schemas/Pagination'

    MaintenanceRecordListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceRecord'
        pagination:
          $ref: '#/components/schemas/Pagination'

    FuelLogListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FuelLog'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: string
        correlationId:
          type: string
