#%RAML 1.0
title: StreamFlix User Service API
version: 1.0.0
baseUri: https://api.streamflix.com/user/v1
mediaType: application/json
description: User authentication, profile management, and preferences for the StreamFlix streaming platform

securitySchemes:
  bearerAuth:
    type: OAuth 2.0
    description: JWT Bearer Token Authentication
    describedBy:
      headers:
        Authorization:
          description: Bearer token
          type: string
          pattern: ^Bearer .+$
          example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

types:
  UserRegistration:
    properties:
      email:
        type: string
        required: true
        example: user@example.com
      password:
        type: string
        required: true
        minLength: 8
        example: SecurePass123!
      firstName:
        type: string
        required: true
        example: John
      lastName:
        type: string
        required: true
        example: Doe
      phoneNumber:
        type: string
        required: false
        example: +1-555-123-4567

  LoginRequest:
    properties:
      email:
        type: string
        required: true
        example: user@example.com
      password:
        type: string
        required: true
        example: SecurePass123!

  RefreshTokenRequest:
    properties:
      refreshToken:
        type: string
        required: true
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

  User:
    properties:
      id:
        type: string
        required: true
        example: 550e8400-e29b-41d4-a716-446655440000
      email:
        type: string
        required: true
        example: user@example.com
      firstName:
        type: string
        required: true
        example: John
      lastName:
        type: string
        required: true
        example: Doe
      phoneNumber:
        type: string
        required: false
        example: +1-555-123-4567
      subscriptionTier:
        type: string
        required: true
        enum: [basic, standard, premium]
        example: premium
      createdAt:
        type: datetime
        required: true
        example: 2026-01-15T10:30:00Z
      updatedAt:
        type: datetime
        required: true
        example: 2026-04-20T14:22:00Z

  AuthResponse:
    properties:
      accessToken:
        type: string
        required: true
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      refreshToken:
        type: string
        required: true
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      expiresIn:
        type: integer
        required: true
        description: Access token expiration time in seconds
        example: 3600
      tokenType:
        type: string
        required: true
        example: Bearer
      user:
        type: User
        required: true

  UserUpdate:
    properties:
      firstName?: string
      lastName?: string
      phoneNumber?: string
      email?: string

  Profile:
    properties:
      id:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      userId:
        type: string
        required: true
        example: 550e8400-e29b-41d4-a716-446655440000
      name:
        type: string
        required: true
        example: Kids
      avatarUrl:
        type: string
        required: false
        example: https://cdn.streamflix.com/avatars/kids-avatar.png
      isKidsProfile:
        type: boolean
        required: true
        example: true
      language:
        type: string
        required: true
        example: en-US
      maturityRating:
        type: string
        required: true
        enum: [G, PG, PG-13, R, NC-17]
        example: PG
      autoplayNextEpisode:
        type: boolean
        required: true
        example: true
      autoplayPreviews:
        type: boolean
        required: true
        example: false
      createdAt:
        type: datetime
        required: true
        example: 2026-01-15T10:30:00Z

  ProfileCreate:
    properties:
      name:
        type: string
        required: true
        example: Kids
      avatarUrl?:
        type: string
        example: https://cdn.streamflix.com/avatars/kids-avatar.png
      isKidsProfile?:
        type: boolean
        example: true
      language?:
        type: string
        example: en-US
      maturityRating?:
        type: string
        enum: [G, PG, PG-13, R, NC-17]
        example: PG

  ProfileUpdate:
    properties:
      name?: string
      avatarUrl?: string
      language?: string
      maturityRating?:
        type: string
        enum: [G, PG, PG-13, R, NC-17]
      autoplayNextEpisode?: boolean
      autoplayPreviews?: boolean

  Preferences:
    properties:
      userId:
        type: string
        required: true
        example: 550e8400-e29b-41d4-a716-446655440000
      defaultLanguage:
        type: string
        required: true
        example: en-US
      defaultSubtitleLanguage:
        type: string
        required: false
        example: en
      emailNotifications:
        type: boolean
        required: true
        example: true
      pushNotifications:
        type: boolean
        required: true
        example: true
      dataUsage:
        type: string
        required: true
        enum: [low, medium, high, auto]
        example: auto
      downloadQuality:
        type: string
        required: true
        enum: [standard, high]
        example: high

  PreferencesUpdate:
    properties:
      defaultLanguage?: string
      defaultSubtitleLanguage?: string
      emailNotifications?: boolean
      pushNotifications?: boolean
      dataUsage?:
        type: string
        enum: [low, medium, high, auto]
      downloadQuality?:
        type: string
        enum: [standard, high]

  WatchHistoryItem:
    properties:
      id:
        type: string
        required: true
        example: 770e8400-e29b-41d4-a716-446655440000
      profileId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      contentId:
        type: string
        required: true
        example: 880e8400-e29b-41d4-a716-446655440000
      watchedAt:
        type: datetime
        required: true
        example: 2026-04-20T20:15:00Z
      progress:
        type: integer
        required: true
        description: Watch progress in seconds
        example: 1800
      duration:
        type: integer
        required: true
        description: Total duration in seconds
        example: 5400
      completed:
        type: boolean
        required: true
        example: false

  WatchHistoryCreate:
    properties:
      profileId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      contentId:
        type: string
        required: true
        example: 880e8400-e29b-41d4-a716-446655440000
      progress:
        type: integer
        required: true
        description: Watch progress in seconds
        example: 1800
      duration:
        type: integer
        required: true
        description: Total duration in seconds
        example: 5400

  WatchlistItem:
    properties:
      id:
        type: string
        required: true
        example: 990e8400-e29b-41d4-a716-446655440000
      profileId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      contentId:
        type: string
        required: true
        example: 880e8400-e29b-41d4-a716-446655440000
      addedAt:
        type: datetime
        required: true
        example: 2026-04-18T10:00:00Z

  WatchlistCreate:
    properties:
      profileId:
        type: string
        required: true
        example: 660e8400-e29b-41d4-a716-446655440000
      contentId:
        type: string
        required: true
        example: 880e8400-e29b-41d4-a716-446655440000

  Error:
    properties:
      code:
        type: string
        required: true
        example: INVALID_INPUT
      message:
        type: string
        required: true
        example: The provided input is invalid
      details?:
        type: array
        items:
          properties:
            field?: string
            message?: string

/auth/register:
  post:
    description: Create a new user account with email and password
    body:
      application/json:
        type: UserRegistration
    responses:
      201:
        description: User registered successfully
        body:
          application/json:
            type: AuthResponse
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      409:
        description: User already exists
        body:
          application/json:
            type: Error

/auth/login:
  post:
    description: Authenticate user and return access token
    body:
      application/json:
        type: LoginRequest
    responses:
      200:
        description: Login successful
        body:
          application/json:
            type: AuthResponse
      401:
        description: Invalid credentials
        body:
          application/json:
            type: Error

/auth/logout:
  post:
    description: Invalidate user access token
    securedBy: [bearerAuth]
    responses:
      204:
        description: Logout successful
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error

/auth/refresh:
  post:
    description: Get a new access token using refresh token
    body:
      application/json:
        type: RefreshTokenRequest
    responses:
      200:
        description: Token refreshed successfully
        body:
          application/json:
            type: AuthResponse
      401:
        description: Invalid refresh token
        body:
          application/json:
            type: Error

/users/me:
  get:
    description: Retrieve authenticated user information
    securedBy: [bearerAuth]
    responses:
      200:
        description: User retrieved successfully
        body:
          application/json:
            type: User
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
  put:
    description: Update authenticated user information
    securedBy: [bearerAuth]
    body:
      application/json:
        type: UserUpdate
    responses:
      200:
        description: User updated successfully
        body:
          application/json:
            type: User
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
  delete:
    description: Delete authenticated user account
    securedBy: [bearerAuth]
    responses:
      204:
        description: User deleted successfully
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error

/profiles:
  get:
    description: Get all profiles for the authenticated user
    securedBy: [bearerAuth]
    responses:
      200:
        description: Profiles retrieved successfully
        body:
          application/json:
            properties:
              profiles:
                type: array
                items: Profile
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
  post:
    description: Create a new profile for the authenticated user
    securedBy: [bearerAuth]
    body:
      application/json:
        type: ProfileCreate
    responses:
      201:
        description: Profile created successfully
        body:
          application/json:
            type: Profile
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error

/profiles/{profileId}:
  uriParameters:
    profileId:
      type: string
      description: Profile ID
      example: 660e8400-e29b-41d4-a716-446655440000
  get:
    description: Retrieve a specific profile
    securedBy: [bearerAuth]
    responses:
      200:
        description: Profile retrieved successfully
        body:
          application/json:
            type: Profile
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
      404:
        description: Profile not found
        body:
          application/json:
            type: Error
  put:
    description: Update a specific profile
    securedBy: [bearerAuth]
    body:
      application/json:
        type: ProfileUpdate
    responses:
      200:
        description: Profile updated successfully
        body:
          application/json:
            type: Profile
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
      404:
        description: Profile not found
        body:
          application/json:
            type: Error
  delete:
    description: Delete a specific profile
    securedBy: [bearerAuth]
    responses:
      204:
        description: Profile deleted successfully
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
      404:
        description: Profile not found
        body:
          application/json:
            type: Error

/preferences:
  get:
    description: Retrieve preferences for the authenticated user
    securedBy: [bearerAuth]
    responses:
      200:
        description: Preferences retrieved successfully
        body:
          application/json:
            type: Preferences
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
  put:
    description: Update preferences for the authenticated user
    securedBy: [bearerAuth]
    body:
      application/json:
        type: PreferencesUpdate
    responses:
      200:
        description: Preferences updated successfully
        body:
          application/json:
            type: Preferences
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error

/watch-history:
  get:
    description: Retrieve watch history for a profile
    securedBy: [bearerAuth]
    queryParameters:
      profileId:
        type: string
        required: true
        description: Profile ID
        example: 660e8400-e29b-41d4-a716-446655440000
      limit:
        type: integer
        required: false
        default: 50
        minimum: 1
        maximum: 100
        description: Number of items to return
      offset:
        type: integer
        required: false
        default: 0
        minimum: 0
        description: Number of items to skip
    responses:
      200:
        description: Watch history retrieved successfully
        body:
          application/json:
            properties:
              items:
                type: array
                items: WatchHistoryItem
              total: integer
              limit: integer
              offset: integer
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
  post:
    description: Record a content item in watch history
    securedBy: [bearerAuth]
    body:
      application/json:
        type: WatchHistoryCreate
    responses:
      201:
        description: Item added to watch history
        body:
          application/json:
            type: WatchHistoryItem
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error

/watchlist:
  get:
    description: Retrieve watchlist for a profile
    securedBy: [bearerAuth]
    queryParameters:
      profileId:
        type: string
        required: true
        description: Profile ID
        example: 660e8400-e29b-41d4-a716-446655440000
    responses:
      200:
        description: Watchlist retrieved successfully
        body:
          application/json:
            properties:
              items:
                type: array
                items: WatchlistItem
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
  post:
    description: Add a content item to watchlist
    securedBy: [bearerAuth]
    body:
      application/json:
        type: WatchlistCreate
    responses:
      201:
        description: Item added to watchlist
        body:
          application/json:
            type: WatchlistItem
      400:
        description: Invalid input
        body:
          application/json:
            type: Error
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error

/watchlist/{contentId}:
  uriParameters:
    contentId:
      type: string
      description: Content ID
      example: 880e8400-e29b-41d4-a716-446655440000
  delete:
    description: Remove a content item from watchlist
    securedBy: [bearerAuth]
    queryParameters:
      profileId:
        type: string
        required: true
        description: Profile ID
        example: 660e8400-e29b-41d4-a716-446655440000
    responses:
      204:
        description: Item removed from watchlist
      401:
        description: Unauthorized
        body:
          application/json:
            type: Error
      404:
        description: Item not found in watchlist
        body:
          application/json:
            type: Error
